<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN">
   <Properties>
        <Property name="LogPath">/stor/invoicing/logs</Property>
    </Properties>
    <Appenders>
            
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%t] %-5p | %-60c | %m (%F:%L)%n" />
        </Console>
        
       <RollingFile name="LOG_FILE" fileName="D:\stor\logs\invoicing_backend.log"
			filePattern="invoicing_backend-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d %-5p [%t] - %m (%F:%L)%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="1024 KB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>   
        
    </Appenders>

    <Loggers>
        
        <Root level="error">
            <AppenderRef ref="stdout" />
            <AppenderRef ref="LOG_FILE" />
        </Root>
         
        
    </Loggers>


 <Loggers>
        
        <Root level="info">
            <AppenderRef ref="stdout" />
            <AppenderRef ref="LOG_FILE" />
        </Root>
              
        
    </Loggers>

</Configuration>